<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="en" class="ie6" > <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="ie7" > <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="ie8" > <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="ie9" > <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="" > <!--<![endif]-->
<head>
  <meta charset="utf-8">


  <title><%= title %></title>






  <% for (let key in cssIsomorphic) { %>
    <link href="<%= cssIsomorphic[key] %>" rel="stylesheet" type="text/css">
  <% } %>




</head>
<body>



<div id="app">
  <div><%- app %></div>
</div>








<script>
  try {
    window.__REDUX_STATE__ = <%- JSON.stringify(reduxData) %>;
  } catch (e) {
    console.warn('error in getting server redux data');
  }
</script>
<% if (scriptsIsomorphic.manifest) { %>
  <script src="<%= scriptsIsomorphic.manifest %>" type="text/javascript"></script>
<% } %>
<% if (scriptsIsomorphic.vendor) { %>
    <script src="<%= scriptsIsomorphic.vendor %>" type="text/javascript"></script>
<% } %>
<% if (scriptsIsomorphic.style) { %>
  <script src="<%= scriptsIsomorphic.style %>" type="text/javascript"></script>
<% } %>
<% if (scriptsIsomorphic.app) { %>
  <script src="<%= scriptsIsomorphic.app %>" type="text/javascript"></script>
<% } %>






</body>
</html>
